# Base de datos
POSTGRES_DB=agrotech
POSTGRES_USER=agrotech_user
POSTGRES_PASSWORD=CAMBIAR_ESTO

# API
PORT=3000
NODE_ENV=development
DATABASE_URL=postgres://agrotech_user:CAMBIAR_ESTO@localhost:5432/agrotech

# pgAdmin (solo desarrollo)
PGADMIN_EMAIL=admin@agrotech.local
PGADMIN_PASSWORD=CAMBIAR_ESTO
